{% if user.is_authenticated %}
{% if user_now %}
<form action="{% url 'Change_Password' users_slug=user_post.slug_field %}" method="post">
    {% csrf_token %}

    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <input type="submit" value="Сохранить изменения" onclick="rafuk.location.href=''">
</form>
<a href="{% url 'users' users_slug=user_post.slug_field %}">Вернуться на страницу профиля</a>
{% else %}
Вы не являетесь владельцем данного профиля, в доступе к удалению - отказано!
<a href="{% url 'home' %}">Вернуться на главную страницу</a>
{% endif %}
{% else %}
{% endif %}